{{define "ROOT"}}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{template "TITLE" .}}</title>
	<link rel="stylesheet" type="text/css" href="//images.ptt.cc/bbs/v2.27/bbs-common.css">
	<link rel="stylesheet" type="text/css" href="//images.ptt.cc/bbs/v2.27/bbs-base.css" media="screen">
	<link rel="stylesheet" type="text/css" href="//images.ptt.cc/bbs/v2.27/bbs-custom.css">
	<link rel="stylesheet" type="text/css" href="//images.ptt.cc/bbs/v2.27/pushstream.css" media="screen">
	<link rel="stylesheet" type="text/css" href="//images.ptt.cc/bbs/v2.27/bbs-print.css" media="print">
</head>
<body>

{{template "TOPBAR-CONTAINER" .}}
{{template "MAIN-CONTAINER" .}}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//images.ptt.cc/bbs/v2.27/bbs.js"></script>
	<!-- Google Analytics -->
</body>
</html>
{{end}}

{{define "XX"}}{{.Title}}{{end}}